body, .reveal .slides{
  font-family: "Operator Light";
}

.reveal .slides > section{
  padding: 0px;
}

.reveal h1, .reveal h2,.reveal h3,.reveal h4 {
  font-family: "Operator Medium";
  /*text-align: left;*/
  text-transform: none;
  font-weight: normal;
}

.reveal .progress {
  color: black;
}

.title {
  /*font-family: "Operator Medium";*/
  font-size: 1.4em;
  color: white;
}

.title>h2{
  color: white;
}

.sub-title {
  font-family: "operator mono book";
  font-size: 0.6em;
}

.ref{
  font-family: "Operator Mono Light";
  font-size: 0.5em;
  text-align: left;
}

p{
/*text-align: left;*/
}

.reveal blockquote {
    font-family: "Operator Light";
  font-size: 0.9em;
  text-align: left;
  width: 80vw;
  border: 0px;

    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    font-style: normal;
    background: none;
    box-shadow: none;

}

.left{
  text-align: left;
}

.white, .white>h2{
  color: white;
}

.reveal section img{
border: none;
box-shadow: none;
}

/* .reveal section img{
  max-height: 60vh;
  box-shadow: none;
  border: none;
}

.reveal figure{
  max-height: 60vh;
}

.reveal figure img {
max-height: 45vh;
} */

.reveal figcaption{

  font-family: "Operator Mono Light";
  font-size: 0.5em;
}

.reveal table{
  font-size: 0.5em;
}

.reveal pre{
  background-color: #333;
  color: white;
  padding: 5px;
}

.reveal pre code{
  font-family: "Operator Mono Book";
}